root = true

[*]
# Suppress annoying warnings
dotnet_diagnostic.rcs1036.severity = none # trailing white spaces
dotnet_diagnostic.rcs1037.severity = none # blank lines
dotnet_diagnostic.RCS1163.severity = none # unused parameter
dotnet_diagnostic.RCS1118.severity = none # make local variable const
dotnet_diagnostic.RCS1213.severity = none # Remove unused method declaration
dotnet_diagnostic.RCS1202.severity = none # Avoid NullReferenceException
dotnet_diagnostic.RCS1001.severity = none # Add braces to foreach statement (when expression spans over multiple lines)
dotnet_diagnostic.RCS1089.severity = none # Use ++ operator instead of assignment
dotnet_diagnostic.RCS1003.severity = none # Add braces to if-else (when expression spans over multiple lines)
dotnet_diagnostic.RCS1123.severity = none # Add parentheses when necessary

# Suppressed because soft casts look more readable than hard casts
dotnet_diagnostic.RCS1221.severity = none # Use pattern matching instead of combination of 'as' operator and null check