# See https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options

# Change to false if config should affect directories above
root = true

[*.cs]

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4
end_of_line = crlf
insert_final_newline = true

# Roslynator suppression preferences
dotnet_diagnostic.rcs1036.severity = none # trailing white spaces
dotnet_diagnostic.rcs1037.severity = none # blank lines
dotnet_diagnostic.RCS1163.severity = none # unused parameter
dotnet_diagnostic.RCS1118.severity = none # make local variable const
dotnet_diagnostic.RCS1213.severity = none # Remove unused method declaration
dotnet_diagnostic.RCS1202.severity = none # Avoid NullReferenceException
dotnet_diagnostic.RCS1001.severity = none # Add braces to foreach statement (when expression spans over multiple lines)
dotnet_diagnostic.RCS1089.severity = none # Use ++ operator instead of assignment
dotnet_diagnostic.RCS1003.severity = none # Add braces to if-else (when expression spans over multiple lines)
dotnet_diagnostic.RCS1123.severity = none # Add parentheses when necessary
dotnet_diagnostic.RCS1221.severity = none # Use pattern matching instead of combination of 'as' operator and null check
dotnet_diagnostic.RCS1021.severity = none # Use expression-bodied lambda
dotnet_diagnostic.RCS1124.severity = none # Inline local variable

# IDE suppression preferences
dotnet_diagnostic.IDE0051.severity = none # Remove unused private member
dotnet_diagnostic.IDE1006.severity = none # Naming rule violation: These words must begin with upper case characters
dotnet_diagnostic.IDE0060.severity = none # Remove unused parameter
dotnet_diagnostic.IDE0052.severity = none # Remove unread private member
dotnet_diagnostic.IDE0059.severity = none # Remove unnecessary value assignment
dotnet_diagnostic.IDE0017.severity = none # Use object initializers
dotnet_diagnostic.IDE0019.severity = none # Use pattern matching to avoid 'as' followed by a 'null' check
dotnet_diagnostic.IDE0034.severity = none # Simplify 'default' expression
